.cooperation {
    padding: 120px 0 178px 96px;
}

.cooperation__title {
    font-size: 128px;
    font-style: normal;
    font-weight: 900;
    line-height: 134px;
    z-index: 5;
    position: relative;
    margin: 0 0 56px 0;
}

.cooperation__image {
    position: absolute;
    right: 0;
    top: 5px;

}

.cooperation__content {
    z-index: 5;
    position: relative;
    width: 856px;
}

.cooperation__text {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}

.cooperation__link {
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 34px;
}

.cooperation__image_bot {
    display: none;
}


@media screen and (max-width: 1400px) {

    .cooperation__title {
        font-size: 104px;
        font-style: normal;
        font-weight: 900;
        line-height: 110px;
        margin: 0 0 50px 0;
    }

    .cooperation__content {

        width: 856px;
    }

    .cooperation__text {
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
    }

    .cooperation__link {
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 34px;
    }

}



@media screen and (max-width: 1100px) {

    .cooperation {
        background-image: url(../../images/Frame\ 514543.png);
        background-repeat: no-repeat;
        background-position: bottom;
        padding: 96px 0 500px 40px;
    }



    .cooperation__image {
        display: none;
    }

}

@media screen and (max-width: 950px) {

    .cooperation {
        padding: 72px 0 500px 36px;
    }

    .cooperation__title {
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: 70px;
        margin: 0 0 48px 0;
    }

    .cooperation__content {
        z-index: 5;
        position: relative;
        width: 696px;
    }

    .cooperation__text {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }

    .cooperation__link {
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: 24px;
    }

}

@media screen and (max-width: 730px) {

    .cooperation {
        padding: 40px 0 230px 32px;
        background-size: contain;
    }

    .cooperation__title {
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: 70px;
        margin: 0 0 32px 0;
    }

    .cooperation__content {
        z-index: 5;
        position: relative;
        width: 416px;
    }

    .cooperation__text {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }

    .cooperation__link {
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: 24px;
        width: 409px;
    }

}


@media screen and (max-width: 450px) {

    .cooperation {
        padding: 32px 0 150px 24px;
        background-size: contain;
    }

    .cooperation__title {
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 36px;
        margin: 0 0 24px 0;
    }

    .cooperation__content {
        z-index: 5;
        position: relative;
        width: 272px;
    }

    .cooperation__text {
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
    }

    .cooperation__link {
        font-size: 14px;
        font-style: normal;
        font-weight: 900;
        line-height: 18px;
        width: 272px;
    }

}