.main {
    display: flex;
    flex-direction: column;
    padding: 0 90px 0 96px;
}

.main__name {
    margin: 45px 0 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    z-index: 5;

}

.main__name_text {
    font-family: 'Laqonic 4F Unicase';
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 112px;
    margin: 0;
    text-align: left;
    width: 462px;
    z-index: 5;

}

.main__subtitle {
    font-family: 'Roboto Flex';
    font-size: 62px;
    font-style: normal;
    font-weight: 800;
    line-height: 70px;
    width: 100%;
    border-bottom: 2px solid white;
    padding-bottom: 16px;
    margin: 0;
    z-index: 4;
    position: relative;
}

.main__text {
    width: 429px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
    z-index: 5;

}

.main__text_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 40px 0 0 0;
    z-index: 5;

}

.main__image_small {
    display: none;
}

.main__image_big {
    position: absolute;
    top: 25px;
    align-self: center;
    width: 850px;
    height: 850px;
    display: block;
}



@media screen and (max-width: 1550px) {
    .main__name_text {
        font-size: 88px;
        font-style: normal;
        font-weight: 900;
        line-height: 96px;
    }

    .main__name {
        margin: 45px 0 85px;
    }

    .main__subtitle {
        font-size: 46px;
        font-style: normal;
        font-weight: 800;
        line-height: 53px;
        letter-spacing: 0.368px;
    }

    .main__image_big {
        display: none;
    }

    .main__image_small {
        position: absolute;
        top: 25px;
        align-self: center;
        display: block;
        width: 750px;
        height: 750px;
    }

    .main__text_container {
        margin: 32px 0 0 0;
    }


    .main__text {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        width: 395px;
    }

    .main {

        margin: 0 auto;
    }

}


@media screen and (max-width: 1220px) {

    .main {
        display: flex;
        flex-direction: column;
        padding: 0 35px 0 35px;
    }

    .main__name_text {
        font-size: 58px;
        font-style: normal;
        font-weight: 900;
        line-height: 64px;
        text-align: right;
    }

    .main__name {
        margin: 330px 0 187px;

    }

    .main__subtitle {
        text-align: right;
        font-size: 42px;
        font-style: normal;
        font-weight: 800;
        line-height: 48px;
        /* 114.286% */
        letter-spacing: 0.42px;
    }

    .main__image_big {
        display: block;
        width: 950px;
        height: 950px;
        top: 196px;
    }

    .main__image_small {

        display: none;

    }

    .main__text_container {
        margin: 32px 0 0 0;
    }


    .main__text {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        width: 395px;
    }


}


@media screen and (max-width: 1000px) {

    .main {
        display: flex;
        flex-direction: column;
        padding: 0 25px 0 25px;
    }

    .main__name_text {
        font-size: 53px;
        font-style: normal;
        font-weight: 900;
        line-height: 59px;
        width: 255px;
        text-align: left;
    }

    .main__name {
        margin: 200px 0 187px;


    }

    .main__subtitle {
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: 48px;
    }

    .main__image_big {
        display: none;

    }

    .main__image_small {
        display: block;
        width: 750px;
        height: 750px;
        top: 152px;


    }

    .main__text_container {
        margin: 32px 0 0 0;
    }


    .main__text {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        width: 395px;
    }


}


@media screen and (max-width: 650px) {

    .main {
        display: flex;
        flex-direction: column;
        padding: 0 30px 0 30px;
    }

    .main__name_text {
        font-size: 42px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
        width: 202px;
        text-align: left;
    }

    .main__name {
        margin: 328px 0 62px;
        gap: 0;
    }

    .main__subtitle {
        font-size: 26px;
        font-weight: 800;
        line-height: 30px;
        text-align: right;

    }

    .main__image_big {
        display: none;

    }

    .main__image_small {
        display: block;
        width: 400px;
        height: 400px;
        top: 150px;


    }

    .main__text_container {
        margin: 16px 0 0 0;
    }


    .main__text {
        text-align: right;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        width: 189px;
    }


}


@media screen and (max-width: 450px) {

    .main {
  
        padding: 0 24px 0 24px;
    }

    .main__name_text {
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: 50px; /* 113.636% */
        letter-spacing: 0.88px;
        width: 220px;
    }

    .main__name {
        margin: 223px 0 56px;


    }

    .main__subtitle {
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: 36px;
        white-space: pre-wrap;
    }

    .main__image_big {
        display: none;

    }

    .main__image_small {
        display: block;
        width: 300px;
        height: 300px;
        top: 104px;


    }

    .main__text_container {
        margin: 32px 0 0 0;
    }


    .main__text {
        text-align: right;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        width: 189px;
    }


}