.contact {
    background-image: url(../../images/contact-pic.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 0 96px;
    font-family: 'Roboto Flex';
    height: 100%;
    margin-top: auto;

}

.contact__back {
    display: none;
}

.contact__title {
    font-size: 128px;
    font-style: normal;
    font-weight: 900;
    line-height: 134px;
    margin: 120px 0 72px;
}

.contact__content {
    display: flex;
    flex-direction: row;
    gap: 96px;
    margin: 0;
}

.contact__column {
    width: 386px;
}

.column {
    list-style-type: none;
    padding: 0;
}


.contact__column_title {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    padding-bottom: 16px;
    border-bottom: 1px solid white;
    margin-top: 32px;
}

.column__name {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    margin-top: 12px;
}

.column__adress {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-top: 12px;
}

.column__tc {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-top: 12px;
}

.column__phone {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-top: 12px;
}

.column__email {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-top: 12px;
}

.column__grafik {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-top: 12px;
}

.column__contact {
    display: flex;
    flex-direction: row;
    width: 88px;
    justify-content: space-between;
    margin-top: 26px;
}

.column__icon {
    width: 32px;
    height: 32px;
}


@media screen and (max-width: 1300px) {


    .contact__title {
        font-size: 104px;
        font-style: normal;
        font-weight: 900;
        line-height: 110px;
        margin: 88px 0 68px;
    }

    .contact__content {
        gap: 80px;

    }

    .contact__column {
        width: 297px;
    }

    .contact__column_title {
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 38px;
        padding-bottom: 16px;
        border-bottom: 1px solid white;
    }

    .column__name {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        /* 125% */
        letter-spacing: 1.44px;
        margin-top: 16px;
    }

    .column__adress {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        /* 130% */
        letter-spacing: 1.2px;
        margin-top: 8px;
    }

    .column__tc {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        /* 130% */
        letter-spacing: 1.2px;
        margin-top: 8px;
    }

    .column__phone {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin-top: 8px;
    }

    .column__email {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 1.2px;
        margin-top: 8px;
    }

    .column__grafik {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        /* 130% */
        letter-spacing: 1.2px;
        margin-top: 16px;
    }

    .column__contact {
        display: flex;
        flex-direction: row;
        width: 88px;
        justify-content: space-between;
        margin-top: 24px;
    }

    .column__icon {
        width: 32px;
        height: 32px;
    }

}


@media screen and (max-width: 1050px) {

    .contact__back {
        position: absolute;
        top: 0;
        right: 0;
        width: 400px;
        height: 650px;
        display: block;
    }

    .contact {
        padding: 0 40px 150px;

        background-image: none;
    }

    .contact__title {
        margin: 96px 0 72px;
        z-index: 5;
        position: relative;
    }

    .contact__content {
        display: flex;
        flex-direction: column;
        gap: 64px;
        margin: 0;
        z-index: 5;
        position: relative;
    }

    .contact__column {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .column__grafik {
        align-self: flex-end;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px;
        /* 118.75% */
        letter-spacing: 1.92px;
    }

    .column__right {
        align-self: flex-end;
        width: 357px;
    }

    .contact__column_title {
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 56px;
    }

    .column__name {
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 42px;
        /* 116.667% */
        letter-spacing: 2.16px;
        margin-top: 16px;
    }

    .column__adress {
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px;
        /* 118.75% */
        letter-spacing: 1.92px;
        margin-top: 16px;
    }

    .column__tc {
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px;
        /* 118.75% */
        letter-spacing: 1.92px;
        margin-top: 16px;
    }

    .column__phone {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        margin-top: 16px;
    }

    .column__email {
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px;
        /* 118.75% */
        letter-spacing: 1.92px;
        margin-top: 16px;
    }



    .column__contact {
        display: flex;
        flex-direction: row;
        width: 88px;
        justify-content: space-between;
        margin-top: 24px;
    }

    .column__icon {
        width: 32px;
        height: 32px;
    }

}


@media screen and (max-width: 850px) {

    .contact__back {
        position: absolute;
        top: 0;
        right: 0;
        width: 400px;
        height: 650px;
        display: block;
    }

    .contact {
        padding: 0 36px 36px;

        background-image: none;
    }

    .contact__title {
        margin: 72px 0 64px;
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: 70px;
    }

    .contact__content {
        display: flex;
        flex-direction: column;
        gap: 48px;
        margin: 0;
        z-index: 5;
        position: relative;
    }

    .contact__column {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .column__grafik {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        /* 130% */
        letter-spacing: 1.2px;
    }

    .column__right {
        align-self: flex-end;
        width: 297px;
    }

    .contact__column_title {
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px;
    }

    .column__name {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        /* 125% */
        letter-spacing: 1.44px;
        margin-top: 16px;
    }

    .column__adress {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        /* 130% */
        letter-spacing: 1.2px;
        margin-top: 8px;
    }

    .column__tc {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        /* 130% */
        letter-spacing: 1.2px;
        margin-top: 8px;
    }

    .column__phone {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin-top: 8px;
    }

    .column__email {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 1.2px;
        margin-top: 8px;
    }



    .column__contact {
        display: flex;
        flex-direction: row;
        width: 88px;
        justify-content: space-between;
        margin-top: 24px;
    }

    .column__icon {
        width: 32px;
        height: 32px;
    }

}

@media screen and (max-width: 650px) {

    .contact__back {
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
        height: 350px;
        display: block;
    }

    .contact {
        padding: 0 32px 32px;
        background-image: none;
    }

    .contact__title {
        margin: 40px 0 32px;
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: 70px;
    }

    .contact__content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 0;
        z-index: 5;
        position: relative;
    }

    .contact__column {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .column__grafik {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        /* 128.571% */
        letter-spacing: 0.84px;
    }

    .column__right {
        align-self: flex-end;
        width: 176px;
    }

    .contact__column_title {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
    }

    .column__name {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        /* 122.222% */
        letter-spacing: 1.08px;
        margin-top: 16px;
    }

    .column__adress {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        /* 128.571% */
        letter-spacing: 0.84px;
        margin-top: 8px;
    }

    .column__tc {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        /* 128.571% */
        letter-spacing: 0.84px;
        margin-top: 8px;
    }

    .column__phone {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        margin-top: 8px;
    }

    .column__email {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        /* 128.571% */
        letter-spacing: 0.84px;
        margin-top: 8px;
    }



    .column__contact {
        display: flex;
        flex-direction: row;
        width: 64px;
        justify-content: space-between;
        margin-top: 16px;
    }

    .column__icon {
        width: 20px;
        height: 20px;
    }

}

@media screen and (max-width: 400px) {

    .contact__back {
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
        height: 350px;
        display: block;
    }

    .contact {
        padding: 0 24px 24px;
        background-image: none;
    }

    .contact__title {
        margin: 32px 0 24px;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 40px;
    }

    .contact__content {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin: 0;
        z-index: 5;
        position: relative;
    }

    .contact__column {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .column__grafik {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        /* 128.571% */
        letter-spacing: 0.84px;
        
    }

    .column__right {
        align-self: flex-start;
        width: 176px;
    }

    .contact__column_title {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
    }

    .column__name {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        /* 122.222% */
        letter-spacing: 1.08px;
        margin-top: 16px;
    }

    .column__adress {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        /* 128.571% */
        letter-spacing: 0.84px;
        margin-top: 8px;
    }

    .column__tc {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        /* 128.571% */
        letter-spacing: 0.84px;
        margin-top: 8px;
    }

    .column__phone {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        margin-top: 8px;
    }

    .column__email {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        /* 128.571% */
        letter-spacing: 0.84px;
        margin-top: 8px;
    }



    .column__contact {
        display: flex;
        flex-direction: row;
        width: 64px;
        justify-content: space-between;
        margin-top: 16px;
    }

    .column__icon {
        width: 20px;
        height: 20px;
    }

}