.card {
    width: 440px;
}

.card__big {
    grid-column: 1/3;
}

.card__pic {
    height: 585px;
    background-color: #FFF;
    padding: 32px;
}

.card__pic_big {
    height: 585px;
    width: 860px;
    background-color: #FFF;
    padding: 32px;
}

.card__image {
    width: 376px;
    height: 521px;
    background-repeat: no-repeat;
    background-size: contain;
}

.card__image_big {
    background-repeat: no-repeat;
    background-size: contain;
    height: 521px;
}


.art-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 96px auto 0 auto;
    grid-template-rows: auto;
    column-gap: 34px;
    row-gap: 96px;
}

.circles {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    margin-top: 32px;

}

.card__circle {
    position: relative;
    z-index: 5;
    background-color:#9CA3AF;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 100%;
}

.card__circle:active {
    background-color:black;
}

.card__description {
    width: 454px;
}

.card__description_big {
    width: 940px;
}

.card__title {
    font-family: 'Roboto Flex';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin: 24px 0 16px 0;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.45);
}

.card__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Roboto Flex';
    margin: 0;
}

.card__size {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Roboto Flex';
    margin: 8px 0 16px 0;
}

.card__price {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    font-family: 'Roboto Flex';
}


@media screen and (max-width: 1550px) {


    .art-container {
        margin: 49px auto 0 auto;
    }

    .card {
        width: 340px;
    }

    .card__pic {
        height: 428px;
        background-color: #FFF;
        padding: 32px;
    }

    .card__pic_big {
        height: 428px;
        width: 650px;
        background-color: #FFF;
        padding: 32px;
    }

    .card__image {
        width: 276px;
        height: 376px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .card__image_big {
        background-repeat: no-repeat;
        background-size: cover;
        height: 376px;
    }


    .card__description {
        width: 340px;
    }

    .card__description_big {
        width: 714px;
    }



    .card__size {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        font-family: 'Roboto Flex';
        margin: 8px 0 16px 0;
    }

    .card__price {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        margin: 0;
        font-family: 'Roboto Flex';
    }

    .artcard__big {
        display: grid;
        grid-template-columns: 714px auto;
        grid-template-rows: auto;
        column-gap: 34px;
        margin-top: 96px;
    }

}


@media screen and (max-width: 1100px) {

    .card {
        width: 440px;
    }



    .art-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-rows: auto;
        column-gap: 34px;
        row-gap: 96px;
        justify-items: center
    }

    .card:last-child {
        display: none;
    }


    .card__pic {
        height: 573px;

    }

    .card__pic_big {
        height: 428px;
        width: 696px;

    }

    .card__image {
        width: 376px;
        height: 521px;

    }

    .card__image_big {
        background-repeat: no-repeat;
        background-size: cover;
        height: 376px;
    }


    .card__description {
        width: 340px;
    }

    .card__description_big {
        width: 714px;
    }



}


@media screen and (max-width: 915px) {

    .card {
        width: 340px;
    }


    .art-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-rows: auto;
        column-gap: 16px;
        row-gap: 96px;
        justify-items: center
    }

    .card:last-child {
        display: none;
    }


    .card__pic {
        height: 428px;

    }

    .card__image {
        width: 276px;
        height: 376px;

    }

    .card__pic_big {
        height: 428px;
        width: 650px;

    }


    .card__image_big {
        background-repeat: no-repeat;
        background-size: cover;
        height: 376px;
    }


    .card__description {
        width: 340px;
    }

    .card__description_big {
        width: 696px;
    }

}


@media screen and (max-width: 700px) {

    .card {
        width: 192px;
    }


    .art-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-rows: auto;
        column-gap: 32px;
        row-gap: 56px;
        justify-items: center;
    }

    .card:last-child {
        display: none;
    }

    .card__circle {
        width: 15px;
        height: 15px;

    }

    .circles {

        margin-top: 16px;

    }

    .card__pic {
        height: 252px;
        padding: 16px;

    }

    .card__image {
        width: 160px;
        height: 221px;
        background-size: cover;

    }

    .card__pic_big {
        height: 252px;
        width: 416px;
        padding: 16px;

    }


    .card__image_big {
        background-repeat: no-repeat;
        background-size: cover;
        height: 221px;
    }



    .card__description {
        width: 192px;
    }

    .card__description_big {
        width: 416px;
    }

    .card__title {
        font-size: 16px;
        line-height: 20px
    }

    .card__text {
        font-size: 14px;
        line-height: 20px;
    }

    .card__size {
        font-size: 14px;
        line-height: 20px
    }

    .card__price {
        font-size: 14px;
        line-height: 20px
    }

}



@media screen and (max-width: 450px) {

    .card {
        width: 272px;
    }


    .art-container {

        grid-template-columns:  1fr;
        grid-template-rows: repeat(13, 1fr);
        row-gap: 32px;
        
     
    }

    .card:last-child {
        display: block;
    }

    .card__big {
        grid-column: 1;
    }
    

    .card__pic {
        height: 349px;
        padding: 16px;

    }

    .card__image {
        width: 240px;
        height: 318px;
        background-size: cover;


    }

    .card__pic_big {
        height: 252px;
        width: 272px;
        padding: 16px;

    }


    .card__image_big {
        background-repeat: no-repeat;
        background-size: cover;
        height: 221px;
      
        background-position: center;
    }



    .card__description {
        width: 272px;
    }

    .card__description_big {
        width: 272px;
    }

    .card__title {
        font-size: 16px;
        line-height: 20px
    }

    .card__text {
        font-size: 14px;
        line-height: 20px;
    }

    .card__size {
        font-size: 14px;
        line-height: 20px
    }

    .card__price {
        font-size: 14px;
        line-height: 20px
    }



}